body,
html {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: #a2ebe6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 350px;
  border-radius: 5px;
  color: #00baad;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cover--submit {
  color: white;
  background-color: #00baad;
  padding: 10px 5px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: larger;
}
.cover--submit:hover {
  border-radius: 8px;
  border: 1px solid #00baad;
  color: #00baad;
  background-color: white;
}
.cover--questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  color: #00baad;
  min-width: 400px;
  min-height: 350px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.statment {
  color: #00465c;
  font-size: large;
  font-weight: bold;
  margin-block: 0;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
.question {
  padding: 5px 50px;
  max-width: 650px;
}
hr {
  margin: 1px;
}
.options p {
  border: 1px solid #00465c;
  padding: 4px 10px;
  border-radius: 5px;
  margin: 15px 5px;
}
.quiz--submit {
  width: 40%;
  margin: 0% 30%;
}
.options p:hover {
  background-color: #a2ebe6;
  color: #00465c;
}
.selected {
  color: blue !important;
  background-color: lightblue !important;
}
#correct,
.markcorrect {
  color: green !important;
  background-color: rgb(218, 253, 166) !important;
}
#incorrect {
  color: red !important;
  background-color: rgb(245, 185, 185) !important;
}
